.shoguntitle {
    color: rgb(26, 21, 15);
    font-family: Arial;
    text-align: center;
}

.buffer {
    animation-name: buffer-icon-spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.gamestate {
    background-color:navajowhite;
    border-radius: 25px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.blink_me {
  animation: blinker 1s linear infinite;
  color: red;
}

.red {
    color: red;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.phasemessage {
    background-color: navajowhite;
}

.secondphasemessage {
    background-color: orange;
}

.shogunbody {
    background-color: tan;
    background-image: url('woodGrain.jpg');
}

.hands {
    background-color: navajowhite;
    border-radius: 25px;
}

.energy {
    color: green;
}

.scorecard {
    border-radius: 25px;
    background-image: url('paperTexture.jpg');
    margin-top: 1px;
    margin-bottom: 1px;
}

@keyframes buffer-icon-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}